.recipes-container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .overlay-container{
        position: relative;

        img {
            display: block;
            position: relative;
            width: 100%;
        }
    }
    
}