.cart{
    width: 20px;
    padding: 10px;
    background-color: rgb(192,192,192);
    border-radius: 10px;
    position: relative;
    cursor: pointer;

    .cartnum{
        position: absolute;
        right: -50%;
        background-color: red;
        color: white;
        padding: 5px;
        border-radius: 40%;
        width: 30px;
        height: 30px;
        font-size: 12px;
        text-align: center;
    }
}