.overlay-screen {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  background-color: rgba(64, 64, 64, 0.5);
  border-radius: 20px;
  width: 100%;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(64, 64, 64, 0.7);
    border-radius: 20px;
  }

  .badges-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .minusbtn {
      background-color: none !important;
    }
    .badges {
      color: white;
      font-size: 16px;
      font-weight: bolder;
    }

    .plus {
      position: relative;
      cursor: pointer;

      @keyframes moveUpAndDisappear {
        0% {
          transform: translateY(0);
          opacity: 1;
        }
        100% {
          transform: translateY(-100px);
          opacity: 0;
        }
      }

      .plusanimie {
        position: absolute;
        top: 0%;
        left: 0%;
        animation: moveUpAndDisappear 2s forwards;
      }
    }
  }
}
